p Hi, <b>#{firstName} #{lastName}</b>!

p Thanks for signing up!

p Confirm by visiting the link below:

a(href=confirmationLink) #{confirmationLink}
<br/>
img(src='https://previews.dropbox.com/p/thumb/AAcL56OpM2X_3GV_L9HAoBilLVD2xFvXF4_w3F6ylaouRgXYfIaGTGPlOh0g94R3zhg-pk-C00JDVMq-dmosXQW2jVMxqs6YrPjcLWJ1kmqm22wbDOwQsnFlxpTte6qP3895FhiKuv82m63r4-UyRs3K945In6F7ipIU2vQcYWGyo6_UyKLDFu_NUWqtq7GsQvX48RuMUZ70VOVR0sGQS67JTpkzB8OXkxcE7k3PcA-OwSDJxJdeJKiUdxuOIsQAcK6i1mqWgzybu5SNpY11TtY0cdCp-LXcCLWncS77mnaSYQEq6DyJi-lnskg1N21ZpNTF3lSXXXoD2Ck71mb4r1af/p.png?fv_content=true&size_mode=5' alt='cat' style='max-width:500px; width: 100%;')
